table {
    width: 100%;
 margin: 5px;
}

span, textarea{
    display: block;
}

.mat-card-subtitle {
    color:#ffffff;

}
.mat-card{
    background: #3f51b5;
    font-size: 20px;
    color:#ffffff;

}
.button, input {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.desc{
    margin-bottom: 10px;
    margin-left: 50px;
}

.level {
    margin-bottom: 10px;
    margin-left: 48px;
}

.reader {
    margin-bottom: 10px;
    margin-left: 37px;
}

.type {
    margin-bottom: 10px;
    margin-left: 44px;
}

form {
    margin-top: 8%;
    margin-left: 20px
}

.save{
    background-color:  #3f51b5;
    font-size: 18px;
    border-radius: 8px;
    color:#ffffff;
}

.cancel{
    background-color:  #ff3333;
    font-size: 18px;
    border-radius: 8px;

}
.md-form{
padding-left: 6px;
height: 52px;
}

.search{
   
    margin-left: 7px;
}